@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: env(safe-area-inset);
}

body {
  position: relative;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  @apply bg-gray-50;
  @apply text-gray-800;
  @apply dark:bg-gray-900;
  @apply dark:text-gray-300;
}
