@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.animate-pow-fg {
  @apply text-blue-600;
  font-family: 'Bangers', cursive;
  letter-spacing: 0.16rem;
  animation: pow-fg 12s infinite;
  text-shadow: #333 1px 1.5px;
}
@keyframes pow-fg {
  0%,
  100% {
    transform: rotate(23deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

.animate-pow-bg {
  animation: pow-bg 8s infinite;
}

@keyframes pow-bg {
  0%,
  100% {
    transform: skew(2deg, 2deg);
  }
  50% {
    transform: skew(-2deg, -2deg);
  }
}
