.animate-pow-fg {
  animation: pow-fg 12s infinite;
}
@keyframes pow-fg {
  0%,
  100% {
    transform: rotate(23deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

.animate-pow-bg {
  animation: pow-bg 8s infinite;
}

@keyframes pow-bg {
  0%,
  100% {
    transform: skew(2deg, 2deg);
  }
  50% {
    transform: skew(-2deg, -2deg);
  }
}
